@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*font-family: 'sans serif', 'Montserrat';*/
    font-family: 'sans serif', 'Poppins';
    /*font-family: "Raleway", sans-serif;*/
    font-weight: 300;
    
	font-size: 13px;
} 

.page-top{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.page-top div{
	width: 20%;
	background-color: #fafafa;
	border: 1px solid #cfddc2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.display-column{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px;
}
.guestlist-page{
	margin-left: 25%; /* has to match nav width */
	font-size: 13px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: rgb(227, 227, 230);
}

.guestlist-row{
	/*border: 1px solid black;*/
	border: 1px solid #cfddc2;
	background-color: #fafafa;
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

.row-inner{
	width: 60%;
	height: auto;
	display: flex;
	flex-direction: column;
}

.row-inner2{
	width: 35%;
	/*border: 2px solid red;*/
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: top;
}

.row-inner3{
	/*border: 2px solid brown;*/
	width: 5%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	border: 1px solid #cfddc2;
	background-color:cadetblue;
	color: white;
}

.row-inner3:hover{
	cursor: pointer;
	/*background-color: rgb(192, 192, 192);*/
}

.checkbox-div{
	/*border: 2px solid rgb(0, 128, 255);*/
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.upper-row{
	/*border: 1px solid black;*/
	width: 100%;
	height: 50%;
	padding: 5px;
	display: flex;
	flex-direction: column;
}
.lower-row, .lower-row2{
	/*border: 2px solid blue;*/
	width: 100%;
	height: 50%;
	padding: 5px;
	display: flex;
	flex-direction: row;
}

.name-div{
	margin-bottom: 10px;
}
.name-div, .email-div{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.address-div{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.hotel-div {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.label{
	width: 20%;
	text-align: right;
	height: 100%;
	margin: auto;
	padding: 5px;
}

.email-label{
	text-align: right;
	width: 20%;
	height: 100%;
	margin: auto;
	padding: 5px;
}

.email-input{
	border: 1px solid #cfddc2;
	font-weight: bold;
	width: 80%;
	height: auto;
	padding: 10px;
	letter-spacing: 2px;
}

.name-input{
	border: 1px solid #cfddc2;
	font-weight: bold;
	width: 80%;
	height: 100%;
	padding: 10px;
	margin: auto;
	letter-spacing: 2px;
}

.address-input{
	border: 1px solid #cfddc2;
	font-weight: bold;
	width: 80%;
	height: 100%;
	padding: 10px;
	margin: auto;
	letter-spacing: 2px;
}
.estppl-input, .finalppl-input, .kings-input, .queens-input{
	border: 1px solid #cfddc2;
	font-weight: bold;
	width: 50px;
	height: 30px;
	padding: 2px;
	letter-spacing: 2px;
	text-align: center;
}

input[type='checkbox']{
	width: 30px;
	height: 30px;
	accent-color: cadetblue;;
}


.add-guest-btn{
	  margin-top: 30px;
	  width: 300px;
	  height: 60px;
	  border-radius: 50px;
	  color: white;
	  border: 1px solid cadetblue;
	  background-color:cadetblue;
  }
.add-guest-btn:hover{
	 cursor: pointer;
	 background-color: blue;
 }
