@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*font-family: 'sans serif', 'Montserrat';*/
    font-family: 'sans serif', 'Poppins';
    /*font-family: "Raleway", sans-serif;*/
    font-weight: 300;
    font-size: 20px;
} 

.ledger-page{
	margin-left: 25%; /* has to match nav width */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /*background-color: #aac294;*/
    background-color: rgb(227, 227, 230);
	
}
.row, .fixed-row{ /* if you get rid of row, name this section .form*/
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	padding: 2px;
	/*background-image: linear-gradient(to right, white, rgb(234, 234, 234));*/
	background-color: #fafafa;
}


input[type='checkbox'] {
    /*accent-color: red;*/
}

input[type='checkbox']:checked{
	accent-color: cadetblue;
}


.prefix-container{
	display: flex;
}
.prefix-container div{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.expense{}
.date{}

.remove{
	width: 50px;
	height: 50%;
	color: white;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border: 1px solid #cfddc2;
	background-color:cadetblue;
}
.remove:hover{
	cursor: pointer;
}
input[type='checkbox']{
	width: 5%;
	height: 40px;
}
.prefix-container{
	width: 3%;
	height: 50%;
}

.title, .expense, .fixed-expense, .date, .fixed-date{
	border: 0.5px solid #cfddc2;
	text-align: right;
	letter-spacing: 2px;
}
.fixed-title{
	text-align: right;
}

.title, .fixed-title, .empty-div{
	width: 20%;
	height: 50%;
	padding: 10px;
}
.expense, .fixed-expense, .date, .fixed-date{
	width: 15%;
	margin: 10px;
	height: 50%;
	padding: 10px;
}
.empty-div{
	width: 5%;
	height: 50%;
	padding: 10px;
}
.title, .fixed-expense, .expense, .date, .fixed-date{
	background-color: white;
}

.fixed-title a{
	font-size: 20px;
	color: black;
	text-decoration: underline;
}
 
  .create-expense-btn{
	  margin-top: 30px;
	  width: 300px;
	  height: 60px;
	  border-radius: 50px;
	  color: white;
	  border: 1px solid cadetblue;
	  background-color:cadetblue;
  }
 .create-expense-btn:hover{
	 cursor: pointer;
	 background-color: blue;
 }
 
